site_name: UPPMAX Documentation

repo_url: https://github.com/UPPMAX/UPPMAX-documentation
edit_uri: blob/main/docs/

nav:
  - Home: index.md
  - Getting Started:
    - Get started: getting_started/get_started.md
    - Applying for a Project: getting_started/project_apply.md
    - Accessing UPPMAX:
      - Get inside the university networks: getting_started/get_inside_sunet.md
      - Log in to Rackham: getting_started/login_rackham.md
      - Log in to Bianca: getting_started/login_bianca.md
      - Log in to Snowy: getting_started/login_snowy.md
      - Log in to Dardel (at PDC): getting_started/login_dardel.md
    - Linux tutorials:
      - Working in Linux: getting_started/linux.md
      - Basic Linux commands: getting_started/linux_basics.md
#    - Running your first job: getting_started/first_job.md
  - Cluster user guide:
    - The UPPMAX clusters: cluster_guides/uppmax_cluster.md
    - System usage: https://docs.uppmax.uu.se/cluster_guides/system_usage/system_usage.html
    - Clusters:
      - Rackham: cluster_guides/rackham.md
      - Bianca: cluster_guides/bianca.md
      - Snowy: cluster_guides/snowy.md
      - Pelle: cluster_guides/pelle.md
      - Dardel (at PDC): cluster_guides/dardel.md
    - General cluster tools: 
      - Start an interactive session: cluster_guides/start_interactive_session.md
      - Modules: cluster_guides/modules.md
      - Slurm: cluster_guides/slurm.md
      - Managing your project: cluster_guides/project_management.md
    - Running jobs:
      - Checking and optimizing jobs: cluster_guides/optimizing_jobs.md
      - Runtime tips: cluster_guides/runtime_tips.md
      - Storage and compression: cluster_guides/storage_compression.md
      - Screen: software/screen.md
    - Data transfer: 
      - Transfer to/from Rackham: cluster_guides/transfer_rackham.md
      - Transfer to/from Bianca: cluster_guides/transfer_bianca.md
      - Migrate to Dardel (at PDC): cluster_guides/dardel_migration.md
      - Webexport: cluster_guides/webexport.md
  - Software:
    - Overview: software/overview.md
    - Software table: software/software-table.md
    - Text editors: software/text_editors.md
    - Software-specific documentation:      
      - Chemistry/physics/atmosphere:
        - GAMESS_US: software/games_us.md
        - Gaussian: software/gaussian.md
        - GROMACS: software/gromacs.md
        - WRF: software/wrf.md
      - Integrated development environments (IDE):
        - Jupyter: software/jupyter.md
        - RStudio: software/rstudio.md
        - VSCode: software/vscode.md
        - VSCodium: software/vscodium.md
      - Life Science: 
        - BEAST: software/beast.md
        - BEAST2: software/beast2.md
        - Cram: software/cram.md
        - IGV: software/igv.md
        - MetONTIIME: software/metontiime.md
        - Tracer: software/tracer.md
      - Machine Learning and AI:
        - NVIDIA DLF: software/nvidia-deep-learning-frameworks.md
        - TensorFlow: software/tensorflow.md
        - Whisper: software/whisper.md
      - Programming languages:
        - Julia: software/julia.md
        - MATLAB: software/matlab.md
        - Python: software/python.md
        - Perl: software/perl.md
        - R: software/r.md
      - Misc tools:
        - Allinea DDT: software/allinea-ddt.md
        - darsync: software/darsync.md
        - jobstats: software/jobstats.md
        - projplot: software/projplot.md
        - Rclone: software/rclone.md      
        - SSH: software/ssh.md
        - SFTP: software/sftp.md
        - ThinLinc: software/thinlinc.md
    - Installing and development: 
      - Installing: software/install.md
      - Installing with conda: software/conda.md
      - Compilers: software/compilers.md
      - Compiling serial code: software/compiling_serial.md
      - Compiling parallel code: software/compiling_parallel.md
      - Debuggers: software/debuggers.md
      - Nextflow & nf-core: software/nextflow.md   
      - Profilers: software/profilers.md
      - Singularity/Apptainer: software/singularity.md
      - Spack: software/spack.md
      
  - Databases: 
      - Overview: databases/overview.md
      - BLAST databases available locally: databases/blast.md
      - NCBI taxonomy databases: databases/ncbi.md
      - DIAMOND protein alignment databases: databases/diamond.md
      - Reference genomes: databases/reference_genomes.md
      - 1000-genome project: databases/1000-genome_project.md
      - Simons Genome Diversity Project datasets: databases/simons_genome.md
      - Other bioinformatics-oriented local data resources: databases/other_local.md
     
  - Support: support.md

  - Courses and workshops: 
      - Overview: courses_workshops/courses_workshops.md
      - AWK: courses_workshops/awk.md
      - Bianca intro: courses_workshops/bianca_intro.md
      - Bianca intermediate: courses_workshops/bianca_intermediate.md
      - File transfer: courses_workshops/naiss_transfer.md
      - HPC Python: courses_workshops/hpc_python.md
      - Intro to Python: courses_workshops/intro_to_python.md
      - Programming formalisms: courses_workshops/programming_formalisms.md
      - R-MATLAB-Julia: courses_workshops/R_matlab_julia.md
      - Singularity: courses_workshops/singularity.md
      - UPPMAX intro: courses_workshops/uppmax_intro_course.md

  - Back to UPPMAX main page: https://www.uu.se/en/centre/uppmax

theme:
  name: material
  greetings: Welcome to UPPMAX userguide
  font:
    text: Lato
    code: JetBrains Mono

  logo: assets/logo_color.png
  # logo_dark_mode: assets/UU_logo_vit.svg
  # logo_light_mode: assets/logo_color.png
  palette: 

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

  features:
    # - toc.integrate
    - toc.follow
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.footer
#    - navigation.expand
    - search.suggest
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - content.action.view
    - content.code.copy


  custom_dir: mkdocs_uppmax/
    
#extra:
#  homepage: https://www.uu.se/en/centre/uppmax
  
extra_css:
  - stylesheets/extra.css
      
extra_javascript:
  - js/kapa-widget.js

markdown_extensions:
  - toc:
      toc_depth: 2
      permalink: true
      permalink_title: Anchor link to this section for reference
  - admonition
  - tables
  - attr_list
  - footnotes
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.keys
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde 
  - md_in_html

plugins:
  - search
  - open-in-new-tab 
  - mkdocs-video:
      video_muted: True
      video_autoplay: True
      video_loop: True
      video_controls: False
