:root > * {
  --md-primary-fg-color:        #C41237;
  --md-primary-bg-color:        #000000;
  --md-primary-fg-color--light: #CCCCCC;
  --md-accent-fg-color--light: #CCCCCC; 
  --md-footer-bg-color: #CCCCCC;
  --md-footer-fg-color: #000000;
}
